<!DOCTYPE html>
<html lang="ru">

<head th:replace="fragments.html :: head(title='Пост на ITForum: ' + ${post.title})"></head>

<body>


    <header th:insert="fragments.html :: header"></header>

    <div class="site-wrapper">

        <div th:insert="fragments.html :: breadcrumbs(list=${breadcrumbs})"></div>

        <article class="post-view">

            <div class="post-card moderable-item">
                <form th:replace="fragments.html :: delete(path=@{/moderator/post/} + ${id} + @{/delete})"></form>

                <h1 th:text="${post.title}" class="post-title">Заголовок</h1>
                <p th:text="${post.body}" class="post-body">Описание</p>
                <pre th:if="${!#strings.isEmpty(post.code)}" style="margin-bottom: 15px;"><code th:text="${post.code}"></code></pre>
                <p th:text="'Создано: ' + ${@timeFormatter.formatTime(post.createdTime)}" class="post-created">Дата</p>
                <span th:text="'Автор: ' + ${post.author.username}" class="post-created"></span>
            </div>

            <section class="post-comments">
                <h2 class="post-comments__heading">Комментарии</h2>

                <div th:insert="fragments.html :: banned(text='Вы не можете оставлять комментарии, будучи в бане.')"></div>

                <div th:insert="fragments.html :: register(text='Чтобы оставлять комментарии.')"></div>

                <form sec:authorize="hasRole('ROLE_USER')" class="comment-form" th:action="@{''}" method="post">
                    <p style="margin-bottom: 10px; margin-left: 3px;">Вы напишете под именем: <strong
                            sec:authentication="name">Имя пользователя</strong></p>
                    <div class="form-group">
                        <textarea name="comment" rows="3" placeholder="Напишите ответ или уточняющий вопрос"
                            required></textarea>
                    </div>
                    <div class="form-actions">
                        <button type="submit" class="btn-primary">Отправить комментарий</button>
                    </div>
                </form>

                <ul class="comment-list">
                    <li th:each="com : ${post.comments}" class="comment-item moderable-item">
                        <form th:replace="fragments.html :: delete(path=@{/moderator/comment/} + ${com.id} + @{/delete})"></form>

                        <p class="comment-item__author">
                            <span th:text="${com.author.username}">ник</span>
                            <span th:insert="fragments.html :: roles(roles=${com.author.roles})">Роли</span>
                        </p>
                        <p th:text="${com.comment}" class="comment-item__text">Комментарий</p>
                        <p th:text="${@timeFormatter.fromNow(com.createdTime)}" class="comment-item__time"><i class="far fa-clock"></i> 2 часа
                            назад</p>
                    </li>
                </ul>
            </section>
        </article>
    </div>

    <footer th:insert="fragments.html :: footer"></footer>

</body>

</html>