<!DOCTYPE html>
<html lang="ru">

<head th:replace="fragments.html :: head(title='Профиль')"></head>

<body>

    <header th:insert="fragments.html :: header"></header>

    <div class="site-wrapper">
        <section class="hero">
            <div class="container">
                <h2>Панель модератора</h2>
            </div>
        </section>

        <section class="profile-card">
            <dl class="profile-card__info">
                <div>

                </div>
            </dl>
        </section>
    </div>

    <footer th:insert="fragments.html :: footer"></footer>

</body>

</html>